.container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.start{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: underline;
}

.title{
font-size: 22px;
}




