.container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 15vh 85vh;
    grid-template-areas: 
    "nv nv nv nv nv"
    "sd ch ch ch ch";
}

.navbar{
    grid-area: nv;
}

.sidebar{
    grid-area: sd;
}

.children{
    grid-area: ch;
}
